<div class="container">
  <%= button_to 'Get Random Phrase', rand_phrase_path, method: :post, remote: true %>
  <%= button_to 'Clear Phrases', clear_phrases_path, method: :post, remote: true %>
  <br>
  <%= render partial: 'pages/phrase', collection: @phrases %>
</div>
